body{
background-color: aqua;
color: aqua;
font-family: 'Courier New', Courier, monospace;
margin: 0px;
  }
h1{
color: azure;
font-size: 40px;

{

p}
font-sizes:25px;
header { 
    border-bottom:solid 3x chocolate 10px. 35 ;
